@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background: linear-gradient(180deg, #051849 0%, #000F34 100%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 250px;
        img {
            margin-left: 20px;
        }
    }
    
    .title {
        width: 250px;
        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            letter-spacing: 3px;
            line-height: 17px;
            text-align: center;
        
            color: #FFFFFF;
    
            margin: 0;
        }
    }

    .wallet {
        display: flex;
        align-items: center;
        justify-content: right;
        
        width: 250px;

        margin-right: 20px;
        button {
            width: 150px;
            height: 35px;
    
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
            text-align: center;
    
            color: #FFFFFF;
            background-color: rgba($color: #7D9EFF, $alpha: 1.0);
    
            border-radius: 10px;
            margin: 0;
        }
    
        button:hover{
            cursor: pointer;
        }
    }
}